<section class="empty_section">

    <picture class="box">
        <!-- 1440 -->
        <source
          media="(min-width: 1440px)"
          srcset="
          ./img/basket/basket-desktop.png    1x,
          ./img/basket/basket-desktop@2x.png 2x
          "
          type="image/png"
        />
        <!-- 768 -->
        <source
          media="(min-width: 768px)"
          srcset="
          ./img/basket/basket-desktop.png    1x,
          ./img/basket/basket-desktop@2x.png 2x
          "
          type="image/png"
        />
        <!-- Mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
          ./img/basket/basket-mobile.png   1x,
          ./img/basket/basket-mobile@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="empty_basket"
          src="./img/basket/basket-mobile.png"
          alt="basket"
          width="132"
          height="114"
          loading="lazy"
        />
      </picture>

    <h3 class="empty_header">
        <span class="empty_black">Your basket is</span>
        empty...
    </h3>

    <p class="empty_message">
        Go to the main page to select your favorite 
        products and add them to the cart.   </p>

</section>