<footer class="footer">
  <div class="container">
    <div class="footer-box">
      <div class="footer-left-box">
        <div class="with-logo-container">
          <ul class="list logo-list">
            <li>
              <a class="cabbage-item" href="./index.html">
                <svg class="footer-cabbage-icon" width="20" height="20">
                  <use href="/img/icons/sprite.svg#icon-favicon"></use>
                </svg>
              </a>
            </li>
            <li class="logo-item">
              <a href="./index.html" class="link logo-link footer-logo"
                >Food Boutique</a
              >
            </li>
          </ul>
        </div>
        <div class="social-media-container">
          <ul class="list social-media-list">
            <li class="icon-box">
              <a
                class="footer-social-links"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                ><svg class="social-icon" width="28" height="28">
                  <use href="/img/icons/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon-box">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-social-links"
                target="_blank"
                ><svg class="social-icon" width="28" height="28">
                  <use href="/img/icons/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-box">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-social-links"
                target="_blank"
              >
                <svg class="social-icon" width="28" height="28">
                  <use href="/img/icons/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-subscribe-box">
        <div class="footer-text-box">
          <h3 class="footer-text">
            Discover the Variety of Flavors and Quality
          </h3>
          <p class="footer-paragraph">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <div class="subscribe-box">
          <p class="subscribe-paragraph">
            Subscribe and learn about new products!
          </p>
          <form class="subscribe-form">
            <input
              type="email"
              name="userAddress"
              class="subscribe-input"
              placeholder="Email"
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            />
            <button type="submit" class="button send-btn">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="policy-box">
      <ul class="policy-list">
        <li class="policy-item">
          <p class="policy-paragraph">Food Boutique. All rights reserved.</p>
        </li>
        <li class="policy-item">
          <p class="policy-paragraph">Privacy Policy / Terms of Service</p>
        </li>
      </ul>
    </div>
  </div>
</footer>
