<header class="container">
  <div class="header-logo-main">
    <div class="header-logo-duo">
      <a href="../index.html" class="header-logo-div">
        <svg class="header-logo">
          <use href="../img/icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <a href="../index.html" class="header-name-div">
        <svg class="header-name">
          <use href="../img/icons/sprite.svg#icon-Food-Boutique"></use>
        </svg>
      </a>
    </div>
    <div class="header-button-duo">
      <div class="header-button-div">
        <a href="../index.html">
          <button type="button" class="header-button">Home</button>
        </a>
      </div>
      <div>
        <a href="" class="header-shop-div">
          <svg class="header-shop">
            <use href="../img/icons/sprite.svg#icon-shop"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
