<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      Welcome to the
      <span class="hero-title-span">Food</span>
      Boutique!
    </h1>
    <p class="hero-info">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>
    <div class="hero-image">
      <svg class="hero-image-item" width="100" heigh="100">
        <use href="./img/icons/sprite.svg#icon-organic-food"></use>
      </svg>
    </div>
  </div>
  <div class="container" style="display: none">
    <button class="modal-error-open">modal error subscription</button>
  </div>
</section>
