<div class="backdrop" data-modal>
    <div class="modal">

        <button class="close-modal" data-modal-close>
            <svg class="close-svg" width="22" height="22">
                <use href="../img/icons/sprite.svg#icon-close"></use>
            </svg>
        </button>
            <div class="box"></div>
            <h2 class="modal-order_header">Order success</h2>
            <p class="modal-order_message">
                Thank you for shopping at Food Boutique. Your order has 
                been received and is now being freshly prepared just for you! 
                Get ready to indulge in nourishing goodness, delivered 
                right to your doorstep. We're thrilled to be part of your 
                journey to better health and happiness.
            </p>
    </div>
</div>