<div id="modal" class="modal">
  <div class="modal-content">
    <!-- Тут буде вміст модального вікна -->
  </div>
</div>
<div class="product-card" data-id="640c2dd963a319ea671e383b">
  <img
    src="/img/hero/mobile_hero/women-sportswear-working-out-outdoors1.jpg"
    alt=""
  />
</div>
<div class="product-card" data-id="640c2dd963a319ea671e383b">
  <img
    src="/img/hero/mobile_hero/women-sportswear-working-out-outdoors1.jpg"
    alt=""
  />
</div>

<!-- 
<div class="modal"></div>
<div class="container">
  <button type="button" class="modal-btn">open modal card</button>
</div> -->
