<div class="backdrop-success is-hidden data-modal" data-modal>
  <div class="modal-success">
    <button class="close-modal-success" data-modal-close>
      <svg class="close-svg-success" width="22" height="22">
        <use href="./img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <img
      class="modal-success_img"
      src="./img/orderSuccess/background-vege.png"
      alt="tomato"
      width="140"
      height="140"
    />
    <h2 class="modal-success_header">Order success</h2>
    <p class="modal-success_message">
      Thank you for shopping at Food Boutique. Your order has been received and
      is now being freshly prepared just for you! Get ready to indulge in
      nourishing goodness, delivered right to your doorstep. We're thrilled to
      be part of your journey to better health and happiness.
    </p>
  </div>
</div>
