<div class="backdrop">
  <div class="modal-window js-box">
    <button class="button-modal-icon" type="button">
      <svg class="modal-close">
        <use href="../img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-main-item">
      <h2 class="modal-name">
        Thanks for subscribing for
        <span class="modal-text-new">new</span> products
      </h2>
      <p class="modal-text">
        We promise you organic and high-quality products that will meet your
        expectations. Please stay with us and we promise you many pleasant
        surprises.
      </p>
    </div>
    <div>
      <img
        src="../img/subscription/products.png"
        alt="products"
        class="products-modal-card"
      />
    </div>
  </div>
</div>
<div class="container">
  <button type="button" class="bob">open modal subscription</button>
</div>
