<div class="modal-error">
  <div class="modal-error-subscriprion">
    <button class="modal-error-subscriprion-button modal-error-close">
      <svg class="modal-error-subscriprion-svg-item" width="22" heigh="22">
        <use href="../img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-error-subscriprion-main">
      <h1 class="modal-error-subscriprion-title">
        This
        <span class="modal-error-subscriprion-title-span">email address</span>
        has already been entered
      </h1>
      <p class="modal-error-subscriprion-item">
        You have already subscribed to our new products. Watch for offers at the
        mailing address.
      </p>
    </div>
  </div>
</div>
