.discount-container {
  min-width: 300px;
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
}

.discount-title {
  color: var(--black);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16px;
  margin-bottom: 35px;
}
.discount-product {
  position: relative;
  border-radius: 15px;
  background: var(--white);
  padding: 16px;
  cursor: pointer;
}

.discount-list-item {
  position: absolute;
  margin-top: -13px;
  margin-left: 245px;
  max-height: 60px;
}

.discount-info-cart {
  display: flex;
}

.discount-image {
  max-width: 304px;
  height: 150px;
  border-radius: 10px;
  background-color: var(--background);
}

.discount-image-cart {
  max-width: 114px;
  height: 114px;
  flex-shrink: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 95px;
  padding-right: 95px;
}

.discount-price {
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 23px;
  margin-right: 8px;
}

.discount-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-title-name {
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 23px;
}

.discount-btn {
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  height: 34px;
  width: 34px;
  background-color: var(--green);
  margin-top: 16px;
}

.icon-check {
  transition: background-color var(--animation);
}

.discount-btn:hover {
  background-color: var(--hover-green);
}

.discount-btn:hover .icon-check {
  background-color: var(--hover-green);
}

.is-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .discount-container {
    max-width: 100%;
  }
  .discount-title-name {
    font-size: 20px;
  }
  .discount-price {
    font-size: 20px;
  }

  .discount-title {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .discount-list {
    display: flex;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-image-cart {
    max-width: 105px;
    height: 105px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 69px;
    padding-right: 69px;
  }
  .discount-container {
    min-width: 275px;
    max-width: 275px;
    margin-left: 0;
    margin-right: 0;
  }

  .discount-image {
    max-width: 243px;
    height: 150px;
    border-radius: 10px;
  }
  .discount-list-item {
    margin-top: -20px;
    margin-left: 190px;
  }

  .discount-title-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 124px;
  }
  .discount-product:not(:last-child) {
    margin-bottom: 20px;
  }

  .discount-product {
    transition: box-shadow var(--animation);
  }

  .discount-product:hover,
  .discount-product:focus {
    box-shadow: var(--shadow);
  }
}

@media screen and (max-width: 767.98px) {
  .discount-product:not(:last-child) {
    margin-bottom: 20px;
  }
}
