/* Empty basket styles */

.empty_section {
padding: 105px 48px 120px;
}

.empty_basket {
    margin: 0 auto;
}

.empty_header {
    color: var(--green);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11; 
    margin: 28px 0 14px;
    text-align: center;
}

.empty_black {
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
}

.empty_message {
    color: rgba(1, 1, 1, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    width: 279px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {

    .empty_section {
        padding: 135px 190px 722px;
    }

    .empty_header, .empty_black {
        font-size: 20px;
        line-height: 1.2;
        margin-top: 40px;

    }

    .empty_message {
        font-size: 18px;
        line-height: 1.33;
        width: 387px;
    }
}

@media screen and (min-width: 1440px) {
    .empty_section {
        padding: 155px 526px 150px;
    }
}