/* Footer styles */

.footer-content {
    color: #e8e8e2;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    background: #6d8434;
}

.footer-content-block {
    width: 375px;
    margin: 0 auto
}

@media screen and (min-width: 768px) {
    .footer-content {
        padding-top:44px
    }

    .footer-content-block {
        width: 768px;
        display: flex;
        justify-content: space-around
    }
}

@media screen and (min-width: 1158px) {
    .footer-content-block {
        max-width:1158px
    }

    .footer-content-item {
        margin-right: 148px
    }

    .footer-slogan-form {
        display: flex
    }

    .footer-slogan {
        width: 335px
    }
}

.footer-logo {
    max-width: 154px;
    margin-bottom: 20px
}

.footer-logo-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: 162px;
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: -.36px;
}

.footer-logo-text {
    font-family: Fontspring-Quincy-Black
}

.footer-social-links-box {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 12px;
    margin-bottom: 40px
}

.footer-social-links {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: var(--border);
    border-radius: 10px
}

.footer-social-links:hover,.footer-social-links:focus {
    background-color: #e8e8e24d
}

.footer-svg {
    fill: #e8e8e299
}

.footer-svg:hover,.footer-svg:focus {
    fill: #e8e8e2
}

.footer-slogan {
    max-width: 335px;
    margin-bottom: 40px
}

.footer-slogan-title {
    font-family: NeueMontreal-Medium;
    padding-right: 34px;
    margin-bottom: 14px;
    color: #e8e8e2;
    font-family: Neue Montreal;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -.48px
}

.footer-slogan-text {
    color: #e8e8e299;
    padding-right: 34px;
    font-family: NeueMontreal-regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px
}

.footer-subscribe-text {
    color: #e8e8e2;
    font-family: NeueMontreal-regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px
}

.subscription-form {
    max-width: 335px
}

.footer-form-input {
    padding: 12px 18px;
    border-radius: 30px;
    border: #fafafa;
    background-color: transparent;
    color:  rgba(1, 1, 1, 0.5);
    margin-bottom: 14px;
    width: 100%
}

.footer-form-input:hover,.footer-form-input:focus {
    border-color: #e8e8e2;
    color: #e8e8e2
}

.footer-form-button {
    color: #6d8434;
    display: flex;
    width: 335px;
    padding: 12px 149px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    border: none;
    background: #e8e8e2
}

.footer-form-button:hover,.footer-form-button:focus {
    color: #010101
}

.footer-loader {
    margin: 0 auto
}

@media screen and (min-width: 768px) {
    .footer-loader {
        width:768px;
        display: flex;
        justify-content: space-around
    }
}

@media screen and (min-width: 1240px) {
    .footer-loader {
        width:1280px
    }
}

.footer-block-text {
    margin-bottom: 8px
}