/* Header styles */
/* .logo-mark-back {
  width: 100%;
  height: 100%;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.container {
  min-width: 320px;
  max-width: 335px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}
.header-logo-div {
  background-color: var(--green);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
  width: 16px;
  height: 16px;
}
.header-name {
  height: 20px;
  width: 120px;
}
.header-logo-main {
  display: inline-flex;
  align-items: center;
  gap: 60px;
  margin-top: 18px;
}
.header-logo-duo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.header-shop-div {
  background-color: var(--green);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.header-shop {
  width: 14px;
  height: 14px;
}
.header-button-duo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.header-button {
  color: #e8e8e2;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  background-color: var(--green);
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 77px;
  height: 38px;
  border: none;
  border-radius: 30px;
  text-align: center;
}
.header-name-div {
  width: 120px;
  height: 20px;
}
