/* Modal order styles */

.backdrop-success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(1, 1, 1, 0.40);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-success_img {
    margin: 0 auto;
}

.modal-success {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    min-width: 295px;
    
    padding: 40px 20px 60px;
    
    opacity: 1;
    
    border-radius: 20px;
    background: var(--background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    
    transform: translate(-50%, -50%) scale(1);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .close-modal-success {
    position: absolute;
    top: 14px;
    right: 14px;
    
    padding: 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: var(--background);
    
    border-radius: 50%;
    border: var(--background);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-success_header {
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 20px;
    }

    .modal-success_message {
    color: rgba(1, 1, 1, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
        .modal-success {
            padding: 80px 40px;
        }

        .modal-success_header {
            font-size: 32px;
            line-height: 1;
        }

        .modal-success_message {
            width: 480px;
            font-size: 18px;
            line-height: 1.33;
        }

        .close-svg-success, .close-modal-success {
            width: 28px;
            height: 28px;
        }
    }
    