/* Modal card styles */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.4);
  transition: var(--animation);
}
.modal-content {
  border: 1px solid black;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  width: 310px;
  border-radius: 20px;
}
.modal-box {
  padding-top: 40px;
  padding-left: 8px;
  padding-bottom: 40px;
}
.modal-btn {
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background: var(--green);
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 116px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28px;
  color: var(--white);
  transition: background-color var(--animation);
}

.modal-btn:hover {
  background-color: var(--hover-green);
}

.img-box {
  background-color: var(--background);
  margin-bottom: 20px;
  max-width: 295px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.card-modal-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 10px;
}
.card-modal-data {
  display: flex;
  width: 295px;
  gap: 9px;
  margin-bottom: 9px;
}
.info-modal-item {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
}
b {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16px;
}
.modal-desc {
  color: rgba(1, 1, 1, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-top: 20px;
}
.button-icon-close {
  position: absolute;
  top: 9px;
  right: 9px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}
.card-image {
  margin: 0 auto;
}
.modal-price-block {
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
  gap: 133px;
}
.modal-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
@media screen and (min-width: 768px) {
  .modal-content {
    width: 600px;
  }
  .modal-box {
    padding: 40px 0 40px 40px;
  }
  .modal-btn {
    min-width: 130px;
    padding: 10px 28px;
    font-size: 16px;
    line-height: 1.25;
    height: 40px;
  }
  .img-box {
    width: 240px;
    height: 212px;
    margin-bottom: 0;
    margin-right: 24px;
  }
  .card-info {
    display: flex;
  }
  .modal-price-block {
    margin-top: 48px;
    gap: 339px;
  }
  .modal-desc {
    width: 256px;
  }
}
