/* Modal error subscription styles */
.modal-error {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(1, 1, 1, 0.4);
  width: 100%;
  height: 100%;
  transition: var(--animation);
  opacity: 0;
  visibility: hidden;
}

.modal-error.is-visible {
  opacity: 1;
  visibility: visible;
}

.modal-error-subscriprion {
  display: flex;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  max-width: 469px;
  height: 276px;
  border-radius: 20px;
  background: var(--background);
}
@media screen and (min-width: 768px) {
  .modal-error-subscriprion {
    height: 308px;
  }
}
.modal-error-subscriprion-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.modal-error-subscriprion-svg-item {
  height: 22px;
  width: 22px;
}
@media screen and (min-width: 768px) {
  .modal-error-subscriprion-svg-item {
    height: 28px;
    width: 28px;
  }
}
.modal-error-subscriprion-main {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 80px 20px 80px 43px;
}
@media screen and (min-width: 768px) {
  .modal-error-subscriprion-main {
    gap: 20px;
    padding: 100px 60px;
  }
}
.modal-error-subscriprion-title {
  color: var(--black);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  height: 48px;
  width: 245px;
}
@media screen and (min-width: 768px) {
  .modal-error-subscriprion-title {
    font-size: 24px;
  }
}
.modal-error-subscriprion-title-span {
  color: var(--green);
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .modal-error-subscriprion-title-span {
    font-size: 24px;
  }
}

.modal-error-subscriprion-item {
  color: var(--grey);
  text-align: center;
  font-weight: 400;
  width: 248px;
  font-size: 14px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .modal-error-subscriprion-item {
    width: 349px;
    font-size: 16px;
    line-height: 20px; /* 125% */
  }
}
/* Modal error subscription styles */
